HB.Web.Shared/Service References/ProductService/ProductServiceHost1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Results" />
  <xs:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Requests" />
  <xs:element name="LoadProductCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Results" minOccurs="0" name="LoadProductCategoriesResult" nillable="true" type="q1:LoadProductCategoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProductsBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Requests" minOccurs="0" name="request" nillable="true" type="q2:LoadProductsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProductsByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Results" minOccurs="0" name="LoadProductsByResult" nillable="true" type="q3:LoadProductsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>