HB.Web.Shared/Service References/ProductService/ProductServiceHost3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Dto" />
  <xs:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" />
  <xs:complexType name="LoadProductCategoriesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" base="q1:GenericServiceResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Dto" minOccurs="0" name="Categories" nillable="true" type="q2:ArrayOfProductCategoryDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadProductCategoriesResult" nillable="true" type="tns:LoadProductCategoriesResult" />
  <xs:complexType name="LoadProductsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" base="q3:GenericServiceResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Dto" minOccurs="0" name="Products" nillable="true" type="q4:ArrayOfProductDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadProductsResult" nillable="true" type="tns:LoadProductsResult" />
</xs:schema>