HB.Web.Shared/Service References/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Results" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Dto" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Books.Result" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Books.Dto" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Movies.Result" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Movies.Dto" />
      <xsd:import schemaLocation="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/HB.Services.Models.Products.Requests" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductServiceContract_LoadProductCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadProductCategories" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadBooks" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMovies" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadProductsBy_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadProductsBy" />
  </wsdl:message>
  <wsdl:message name="IProductServiceContract_LoadProductsBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadProductsByResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductServiceContract">
    <wsdl:operation name="LoadProductCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServiceContract/LoadProductCategories" message="tns:IProductServiceContract_LoadProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServiceContract/LoadProductCategoriesResponse" message="tns:IProductServiceContract_LoadProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServiceContract/LoadBooks" message="tns:IProductServiceContract_LoadBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServiceContract/LoadBooksResponse" message="tns:IProductServiceContract_LoadBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServiceContract/LoadMovies" message="tns:IProductServiceContract_LoadMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServiceContract/LoadMoviesResponse" message="tns:IProductServiceContract_LoadMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadProductsBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServiceContract/LoadProductsBy" message="tns:IProductServiceContract_LoadProductsBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServiceContract/LoadProductsByResponse" message="tns:IProductServiceContract_LoadProductsBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductServiceContract" type="tns:IProductServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadProductCategories">
      <soap:operation soapAction="http://tempuri.org/IProductServiceContract/LoadProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadBooks">
      <soap:operation soapAction="http://tempuri.org/IProductServiceContract/LoadBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMovies">
      <soap:operation soapAction="http://tempuri.org/IProductServiceContract/LoadMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProductsBy">
      <soap:operation soapAction="http://tempuri.org/IProductServiceContract/LoadProductsBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductServiceContract" binding="tns:BasicHttpBinding_IProductServiceContract">
      <soap:address location="http://localhost/HB.Service.Hosts/Products/ProductServiceHost.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>